// Place all the styles related to the api/categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.home {
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    display: flex;
  }
  
  .home-row {
    margin-top: 50px;
    display: flex;
    z-index: 1;
    margin-left: 5px;
    margin-right: 5px;
    justify-content: center;

  }
  
  .home-image {
    width: 100%;
    z-index: -1;
    margin-bottom: -150px;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  }

  .all-items-head {
    margin-left: 23px;
    font-weight: 700;
    font-size: 21px!important;
    line-height: 27.3px!important;
  }

