.item-show-entire {
  background-color: white;
}

.horizontal-line {
  width: 95%;
  color: #e7e7e7;
}

.review-show-cont {
  margin-top: 2%;
}

.customer-review-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 32px;
  padding-bottom: 8px;
}

.review-this {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 4px!important;
  padding-bottom: 4px;
}

.share-thoughts {
  margin-bottom: 16px!important;
  font-size: 14px;
  line-height: 20px;
  font-family: Arial,sans-serif;
}

.review-show-cont {
  display: flex;
  flex-direction: row;
  margin-left: 4%;
  padding-bottom: 4%;
}

.review-button {
    background: #FFF;
    border-radius: 3px;
    border-color: #D5D9D9;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    display: inline-block;
    padding: 0;
    text-align: center;
    text-decoration: none!important;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.review-text {
    background-color: transparent;
    border: 0;
    display: block;
    font-size: 13px;
    line-height: 29px;
    margin: 0;
    outline: 0;
    padding: 0 10px 0 11px;
    text-align: center;
    white-space: nowrap;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    max-height: 400px;
    min-width: 100px;
    margin: 10px;
    padding: 20px;
    width: 100%;
    background-color: white ;
    z-index: 1;
  }
  
  .item > img {
    width: 100%;
    max-height: 200px;
    object-fit: contain;
    margin-bottom: 15px;
  }
  
  .item > button {
    background-color: #f0c14b;
    border: 1px solid;
    width: 150px;
    cursor: pointer;
    border-color: #a88734 #9c7e31 #846a29;
  }
  
  .price {
    margin-top: 5px;
  }
  
  .info {
    height: 100px;
    margin-bottom: 15px;
  }
  
  .rating {
    display: flex;
  }
  
  .item-name {
    color: black;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
  }


/* item-show */
      .itemshow-div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.itemshow-main-div {
  width: 100%;
  height: 621px;
  display: flex;
}

.itemshow-pic-div {
  width: 52%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.itemshow-pic-img {
  max-width: 100%;
  max-height: 100%;
}

.itemshow-details-div {
  width: 32%;
  height: 100%;
  padding: 40px 40px;
  display: flex;
  flex-direction: column;
}

.itemshow-details-name {
  font-size: 24px;
  margin-bottom: 10px;
  line-height: 32px;
}

.itemshow-details-seller {
  font-size: 14px;
  color: #007185;
}

.itemshow-details-rating-div {
  margin-bottom: 40px;
  display: flex;
}

.itemshow-details-price-div {
  font-size: 14px;
  color: #565959;
  display: flex;
  margin-bottom: 40px;
}

.itemshow-details-price {
  font-size: 18px;
  margin-left: 7px;
  color: #b12704;
}

.itemshow-details-description-div {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
}

.itemshow-details-description-bullets {
  font-size: 14px;
  font-weight: normal;
  list-style: outside;
}

.itemshow-details-description-bullets > li {
  padding: 0px;
  margin: 12px 40px 12px 15px;
}

.itemshow-spinner-div {
  height: 621px;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.itemshow-divider {
  width: 95%;
  border-bottom: 1px solid #CCCCCC;

}

.itemshow-reviews-div {
  width: 100%;
  margin-top: 30px;
}

.clickbutton {
  margin-right: 10%;
  cursor: pointer;
  background-color: #f0c14b;
}